/* ----------------------------------------------------------------

	variables.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for variables. Thanks!
-----------------------------------------------------------------*/


//-------------------- Base Colors --------------------//

$theme-color:								#dd4847;


//-------------------- Redefine Bootstrap Variables ------------//

// Theme Colors
$primary:									$theme-color;
$secondary:									#302f2d;
$dark:										#000000;
$light:										#f9f9f9;

$body-color:								#302f2d;
$headings-color:							#302f2d;

$gray-100:									#f3f3f3;
$gray-200:									#b0b0b0;
$gray-300:									#535353;
$gray-400:									#61605f;


//-------------------- Typography --------------------//

$body-font:									'Open Sans', sans-serif;
$headings-font-family:						'Abril Fatface', cursive;
$headings-font-weight:						400;


// Link
$link-decoration:							none;


// Font sizes
$h1-font-size:								6.875rem;
$h2-font-size:								4.5rem;
$h3-font-size:								2.25rem;
$h4-font-size:								1.75rem;
$h5-font-size:								1.125rem;
$h6-font-size:								0.75rem;


// Grid containers
$container-max-widths: (
	xxl: 1640px
);

// Gutter Widdth
$grid-gutter-width:							2.5rem;


// Spaces
$spacer: 									1.5rem;
$spacers:(
	0: 0,
	1: $spacer / 4,
	2: $spacer / 2,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 2,
	6: $spacer * 3,
	7: $spacer * 4,
	8: $spacer * 5,
);


// Forms
$input-bg:									$light;
$input-color:								$body-color;
$input-btn-padding-y:						0.875rem;
$input-btn-padding-x:						1.25rem;
$input-btn-font-size:						0.9375rem;
$input-btn-padding-y-lg:					1.5rem;
$input-btn-padding-x-lg:					2rem;
$input-btn-font-size-lg:					1.125rem;
$input-font-weight:							300;
$input-btn-line-height:						1;
$input-box-shadow:							none;
$input-border-color:						#f9f9f9;
$input-border-width:						0;
$input-border-radius:						0.5rem;
$input-focus-box-shadow:					none;
$input-focus-border-color:					$theme-color;
$input-btn-focus-width:						1px;
$input-btn-focus-color-opacity:				1;

// Buttons
$btn-padding-y:								1.03125rem;
$btn-padding-x:								3.25rem;
$btn-padding-y-lg:							1.75rem;
$btn-padding-x-lg:							3.25rem;
$btn-font-family:							$body-font;
$btn-font-size-lg:							0.875rem;
$btn-font-weight:							700;
$btn-line-height:							1;
$btn-border-width:							1px;
$btn-border-radius:							3.25rem;
$btn-border-radius-lg:						4rem;


// Navbar
$navbar-padding-y:							2.375rem;
$navbar-padding-x:							null;
$navbar-light-color:						$body-color;
$navbar-light-hover-color:			 		$theme-color;
$navbar-light-active-color:					$theme-color;
$navbar-dark-color:							#FFFFFF;
$navbar-dark-hover-color:			 		$theme-color;
$navbar-dark-active-color:					$theme-color;
$navbar-dark-toggler-border-color:			transparent;
$navbar-brand-padding-y:					0;
$navbar-nav-link-padding-x:					1.25rem;
$nav-link-height:							1;
$navbar-toggler-padding-y:					0;
$navbar-toggler-padding-x:					1rem;
$navbar-light-toggler-icon-bg:				url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$body-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color:			transparent;
$navbar-toggler-border-radius:				0;


// Navs
$nav-link-padding-y:						0.5rem;
$nav-link-padding-x:						1.25rem;
$nav-link-font-size:						1.25rem;
$nav-link-font-weight:				 		400;
$nav-link-color:							$body-color;
$nav-link-hover-color:						$theme-color;


// Tabs
$nav-tabs-border-color:						$theme-color;
$nav-tabs-border-width:						2px;
$nav-tabs-border-radius:					0;
$nav-tabs-link-hover-border-color:			$theme-color;
$nav-tabs-link-active-bg:					transparent;
$nav-tabs-link-active-color:			 	$theme-color;
$nav-tabs-link-active-border-color:			$theme-color;


// Accordion
$accordion-padding-y:						1.875rem;
$accordion-padding-x:						2.25rem;
$accordion-color:							$light;
$accordion-bg:								rgba($light, 0.3);
$accordion-border-width:					0;
$accordion-border-radius:					0;

$accordion-button-color:					$body-color;
$accordion-button-bg:						transparent;
$accordion-button-active-bg:			 	transparent;
$accordion-button-active-color:				$theme-color;

$accordion-button-focus-border-color:		none;
$accordion-button-focus-box-shadow:		 	none;

$accordion-icon-width:						1.25rem;
$accordion-icon-color:					 	$body-color;


// Pagination
$pagination-color:							$headings-color;
$pagination-bg:								transparent;
$pagination-padding-y:					 	1rem;
$pagination-padding-x:					 	1rem;
$pagination-border-radius:				 	0.5rem;
$pagination-border-width:					0;

$pagination-hover-color:					#FFFFFF;
$pagination-hover-bg:						$theme-color;

$pagination-active-color:					#FFFFFF;
$pagination-active-bg:						$theme-color;


// Options
$enable-shadows:							true;


//-------------------- Header --------------------//

$header-height:								7.75rem;


//-------------------- Section --------------------//

$section-spacer:							5rem;


//-------------------- SVG Icons --------------------//

$free-shipping-icon: url("data:image/svg+xml,<svg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2.3999 4H1.3999' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/><path d='M3.3999 1H1.3999' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/><path d='M16.8 13H6.2C4.6 13 3.39998 11.4999 3.89998 9.8999L6.09999 2.7002C6.39999 1.7002 7.29998 1 8.39998 1H19C20.6 1 21.8 2.5001 21.3 4.1001L19.1 11.2998C18.8 12.2998 17.9 13 16.8 13Z' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/><path d='M4.1001 11.7002L11.1001 7.1001' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/><path d='M13.6001 7.1001L18.7001 12.1001' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/><path d='M16.3999 17H2.3999' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/><path d='M6.6001 1.7998L11.4001 7.3999C11.7001 7.7999 12.3001 7.9001 12.7001 7.6001L21.1001 2.2998' stroke='#ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$external-link-icon: url("data:image/svg+xml,<svg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.2424 5.75734L5.17136 12.8284' stroke='#{$theme-color}' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round'/><path d='M4.81791 4.69668H13.3032V13.182' stroke='#{$theme-color}' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/></svg>");
$checker-icon: url("data:image/svg+xml,<svg width='34' height='28' viewBox='0 0 34 28' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M32.9175 0.669397C32.1147 0.0960544 31.0826 0.210723 30.5092 1.0134L13.6507 22.9151L3.78784 14.4296C3.09974 13.8563 1.95289 13.8563 1.37947 14.5443C0.806054 15.2323 0.806061 16.379 1.49416 16.9523L12.7332 26.5845C13.0772 26.8138 13.4213 27.0432 13.88 27.0432C13.9947 27.0432 13.9947 27.0432 14.1094 27.0432C14.5681 27.0432 15.0269 26.6992 15.2562 26.3552L33.1469 2.96277C33.835 2.38943 33.7203 1.24274 32.9175 0.669397Z' fill='#{$theme-color}'/></svg>");
$arrow-up-icon: url("data:image/svg+xml,<svg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19.3999 10.5L10.3999 1.5L1.3999 10.5' stroke='#{$theme-color}' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$arrow-down-icon: url("data:image/svg+xml,<svg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19.3999 1.5L10.3999 10.5L1.3999 1.5' stroke='#{$theme-color}' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$arrow-right-icon: url("data:image/svg+xml,<svg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.899902 1L9.8999 10L0.899902 19' stroke='#323232' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/></svg>");