/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/


.error {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;    
    position: relative;

    @include media-breakpoint-up(lg) {
        padding-top: 15.625rem;
        padding-bottom: 15.625rem;

        &::before {
            content: "";
            background-image: url(../images/404/404.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .error-content {
        @media (min-width: 1600px) {
            display: flex;

            #error-sidebar {
                margin-left: 16.66667%;
                padding-top: .75rem;
            }
        }
    }
}

#error-logo {
    h2 {
        font-size: 12.6875rem;
    }

    p {
        font-size: 1.125rem;
    }
    
}

#error-sidebar {
    padding-top: 3rem;

    h5 {
        font-size: 0.875rem;
        margin-bottom: 2rem;
        letter-spacing: 0.05rem;
        color: #535353;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            &:nth-child(2n+1) {
                background-color: #f9f9f9;
            }

            a {                
                color: #302f2d;
                display: inline-block;
                font-family: $body-font;
                font-weight: 500;
                line-height: 1;
                padding: 1rem 1.5rem;
                text-decoration: none;
                width: 100%;
                border-radius: 4rem;
                font-size: 1rem;            
                
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }            
        }
    }
}