
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    position: relative;           

    &.home-banner {
        background-image: url(../images/banner/banner_bg.png);
        height: 47.375rem; 
    }

    &.page-banner {
        background-image: url(../images/banner/page_banner_bg.png);        
        height: auto;
        padding-top: $spacer * 10;
        padding-bottom: $spacer * 7.5;
    }
}

.about-banner {
    padding-top: 11rem;
    position: relative;

    @include media-breakpoint-up(lg) {
        &::before {
            content: "";
            background-image: url(../images/about/about2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }    

    p {
        font-size: 1.25rem;
        line-height: 2.3rem;
        color: #454543;
    }
}

// *banner title*//
.banner-sub-title {
    color: #f3f3f3;
    font-family: $heading-font;
    font-size: 10.75rem;
    position: absolute;
    top: -9rem;

    &.back {
        left: 7rem;
        z-index: -1;
        width: auto;
    }

    &.obverse {
        left:14rem;
        width: auto;
    }
}

// *arrows*//
.banner-arrows{
    width: 2rem;

    a {
        text-decoration: none;
    }

    @include media-breakpoint-down(lg) {
        width: 100%;
        
        a {
            padding: 0.5rem;
            font-size: 3rem;
        }
    }
}