
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

#posts {
	height: 20.75rem;
}

.post {
	position: relative;
	padding: 0 1.25rem;		
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 20.75rem;

	img {
		object-fit: cover;
		object-position: center;
		height: 100%;
		width: 100%;
	}

	a {
		display: block;
	}
}

.post-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.entry-title {
		color: $white;
		line-height: 1.3;
	}

	.entry-content {
		font-size: 1.15rem;
		color: #f7f7f7 !important;
	}

	.entry-categories {

		a {
			text-decoration: none;
			font-size: 1.1875rem;
		}

	}	
}

.piece {
	@include media-breakpoint-down(lg) {
		display: none;
	}
}