/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
.contact-side {
    position: relative;
}

#contact {
    padding-top: 11rem;    
    position: relative;
    
    @include media-breakpoint-up(lg) {
        padding-bottom: 10rem;
    }

    #map {
        @include media-breakpoint-up(lg) {
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0;
            top: 0;
        }        
    }
}

#contact-info {
    h5 {
        font-weight: 400 !important;
        line-height: 2rem;
        color: #61605f !important;
    }
}

#contact-sidebar {
    position: absolute;
    right: 13rem;
    bottom: 0;
    background-color: $body-color;
    width: 32%;
    
    img {
        width: 100%;
    }

    form {
        .btn-primary {
            letter-spacing: 0.1rem;
        }
    }
}