/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
.contact-side {
    position: relative;
}

#contact {
    padding-bottom: 10rem;
}

#contact-info {

    h5 {
        font-weight: 400 !important;
        line-height: 2rem;
        color: #61605f !important;
    }
}

#contact-sidebar {

    position: absolute;
    right: 13rem;
    bottom: 0;
    background-color: $body-color;
    width: 32%;
    
    img{
        width: 100%;
    }

    form {

        .btn-primary {
            
            letter-spacing: 0.1rem;
    
        }

    }
}

@include media-breakpoint-down(xl) {
    
    #contact-sidebar  {
        position: relative;
        right: 0;
        width: 100% !important;
    }

}

@include media-breakpoint-down(lg) {

    #contact {

        padding: 1rem;
        
    }
}