
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	position: relative;
	font-size: 0.9rem;
}

#footer-main {
	background-color: #303030;
	padding-top: 3.8rem;
	padding-bottom: 1.8rem;
}

#footer-bottom {
	background-color: #282828;
}

#copyrights {
	color: #61605f;
	font-size: 0.875rem;
	font-weight: 300;	
	line-height: 2;
	z-index: 1;	
}