
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	background-color: $white;
	position: relative;

	// Transparent header
	&.transparent-header {
		background-color: transparent;
		z-index: 199;

		& + #content {
			position: relative;
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 4.375rem;

	img {
		max-width: 9.375rem;
	}
}


/* ----------------------------------------------------------------
	Navbar toggler
-----------------------------------------------------------------*/

.navbar-toggler {
	border-radius: 0;
	z-index: 200;

	&:focus {
		@include box-shadow(none);
	}
}

@include media-breakpoint-up(lg) {
	.navbar-light .navbar-toggler {
		&[aria-expanded=true] {
			.navbar-toggler-icon {
				background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$white}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"));
			}
		}
	}
}

/* ----------------------------------------------------------------
	Navbar
-----------------------------------------------------------------*/

.navbar {
	&.navbar-dark {
		.nav-link {
			color: $white;

			&:hover,
			&:focus {
				color: $theme-color;
			}
		}
	}

	&.navbar-light {
		.nav-link {
			color: $dark;

			&:hover,
			&:focus {
				color: $theme-color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#navbarCollapse {
	background-color: rgba($black, 0.8);
	position: initial;
    box-shadow: none;
    width: 100%;
	padding: 2.25rem 0;

	@include media-breakpoint-up(lg) {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 11.625rem 0 0 0;
		z-index: 199;
		opacity: 1;
		display: block;

		@include transition(all .35s ease);

		&.collapse {
			&:not(.show) {
				display: none;
			}
		}

		&.collapsing {
			opacity: 0;
		}
	}
}

#primary-menu {
	text-align: center;

	.nav-link {
		color: $white;
		font-family: $headings-font-family;
		font-size: 1.875rem;
		font-weight: 400;
		line-height: 1;
		padding: 1.125rem;

		@include transition(all 0.3s ease-in-out);
	}

	.nav-item {
		&.current {
			& > .nav-link {
				color: $theme-color;
			}
		}

		& > .dropdown-menu {
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			text-align: center;

			&[data-bs-popper] {
				margin-top: 0;
			}

			@include media-breakpoint-up(lg) {
				position: relative;
				display: block;
				top: -1000px;
				opacity: 0;
				height: 0;

				@include transition(transform .5s ease-out);
				@include translate3d(0, -20px, 0);
			}

			.nav-item {
				& > .nav-link {
					border: none;
					font-family: $body-font;
					font-size: 0.875rem;
					font-weight: 100;
					padding: 1rem 0;
				}

				&.current,
				&:hover {
					& > .nav-link {
						color: $theme-color;
					}
				}
			}
		}

		@include media-breakpoint-up(lg) {
			&.current,
			&:hover {
				.dropdown-menu {
					top: auto;
					opacity: 1;
					height: auto;

					@include translate3d(0, 0, 0);
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	.nav-link {
		line-height: 1;
		padding-left: 0.75rem;
		padding-right: 0.75rem;

		@include media-breakpoint-down(lg) {
			color: $white;
		}

		&:hover {
			color: $theme-color;
		}

		[data-cart-items] {
			position: relative;
			display: inline-block;
		}

		[data-cart-items]::before {
			content: attr(data-cart-items);
			position: absolute;
			top: -.5rem;
			right: -.75rem;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 19px;
			height: 19px;
			font-size: 11px;
			font-weight: 500;
			border-radius: 50%;
			border: 1px solid  $white;
			background-color: $theme-color;
			color:  $white;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-link {
		font-size: 0.75rem;
		padding-left: 0.75rem;
		padding-right: 0.75rem;

		@include media-breakpoint-down(lg) {
			color: $white;
		}

		&:hover {
			color: $theme-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: 2.875rem;
		left: 0;
		width: 100%;
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $headings-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}