
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/



#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background-color: $white;
		z-index: 199;

		@include media-breakpoint-up(lg) {
			background-color: transparent;

			& + #content,
			& + #contact-info,
			& + #error-404 {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}
		}			
	}
}

.navbar {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.nav {
	flex-wrap: nowrap;
}

.navbar-toggler {
	border-radius: 0;
	border: 0;
	padding: 0;
}

.navbar-collapse {
	padding: 1rem 0;

	@include media-breakpoint-up(lg) {
		padding: 0;
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 2.25rem;

	img {
		max-width: 6.5rem;
		height: auto;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		color: $primary-menu-font-color;
		display: block;
		font-family: $primary-menu-font;
		font-weight: $primary-menu-font-weight;
		font-size: $primary-menu-font-size;
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;	
		padding: 0.5rem 1rem;	
	}

	.nav-item {
		@include transition(all 0.3s ease-in-out);

		&.current,
		&:hover {
			background-color: $theme-color;			
		}
	}
}


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	.nav-item:not(:first-child) {
		margin-left: 1.25rem;
	}

	.nav-link {
		color: $top-btn-font-color;	
		font-size: $top-btn-font-size;	
		line-height: 1;
		padding: 0;

		&:hover {
			color: $link-hover-color;
		}

		[data-cart-items] {
			position: relative;
			display: inline-block;
		}
		
		[data-cart-items]::before {
			content: attr(data-cart-items);
			position: absolute;
			top: -.5rem;
			right: -.75rem;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 19px;
			height: 19px;
			font-size: 11px;
			font-weight: 500;
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: #ff6f61;
			color: #fff;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-item {			
		@include media-breakpoint-up(lg) {
			padding-right: 1.875rem;		
		}
	}

	a.nav-link {
		color: $top-btn-font-color;
		display: block;
		font-size: 0.75rem;	
		
		@include media-breakpoint-up(lg) {
			padding: 0;		
		}

		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: 1.5rem;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/
