/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Product
-----------------------------------------------------------------*/

.product {
	position: relative;
	margin-bottom: 2.5rem;

	.product-image {
		position: relative;

		> a:not(.add-to-wishlist):nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}

		img {
			width: 100%;
		}

		.add-to-wishlist {
			color: $gray-200;
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
			z-index: 3;

			&:hover {
				color: $theme-color;
			}
		}
	}

	.product-details {
		padding: 1.875rem 2.5rem;
		position: relative;
		z-index: 1;

		@include media-breakpoint-down(lg) {
			padding: 1rem;
		}
	}

	.product-price {
		position: relative;
		color: $body-color;
		display: flex;
		align-items: center;
		font-family: $body-font;
		font-size: 1.875rem;
		font-weight: 300;
		line-height: 1;

		del {
			color: $gray-200;
			font-size: 1rem;
			font-weight: 400;
			margin-left: 1.375rem;
		}
	}

	.product-categories {
		a {
			color: $theme-color;
			font-size: 1rem;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.product-title {
		font-family: $body-font;
		font-size: 1.1875rem;
		font-weight: 500;
		line-height: 1.875rem;
		margin-bottom: 1rem;

		a {
			color: $headings-color;
			text-decoration: none;

			&:hover {
				color: $theme-color;
			}
		}
	}

	.product-rating {
		line-height: 1;
		color: $gray-200;

		i {
			color: $body-color;
			font-size: 0.625rem;

			&.empty {
				color: rgba($body-color, 0.5);
			}
		}
	}

	.product-btns {
		padding-left: 1.125rem;
		position: relative;
		z-index: 2;
	}

	.price-brand {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		border-top: 0 solid;
		border-left: 1rem solid transparent;
		border-right: 0 solid transparent;
		padding: .5rem 2.2rem;
		border-bottom: 2.5rem solid $theme-color;
		position: absolute;
		top: 0.3rem;
		z-index: -1;
	}

	.add-to-cart,
	.add-to-wishlist {
		display: inline-block;

		@include transition(all 0.3s ease-in-out);

		i {
			font-size: 1rem;
			line-height: 1;
		}
	}

	.add-to-cart {
		background-color: $body-color;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.375rem;
		height: 3.375rem;
		position: relative;
		text-decoration: none;
		z-index: 1;

		@include border-radius(100%);

		&:hover {
			background-color: $theme-color;
		}
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	&.product-flat {
		@include media-breakpoint-up(xl) {
			display: flex;
			align-items: center;

			&.product-reverse {
				.product-image {
					order: 1;
				}

				.product-details {
					order: 0;
				}
			}
		}
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	color: $theme-color;
	font-family: $headings-font-family;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1;
	position: absolute;
	left: 1.5rem;
	top: 1.5rem;
	z-index: 2;
}


/* ----------------------------------------------------------------
	Ads
-----------------------------------------------------------------*/

.ads {
	position: relative;
	display: block;
	margin-bottom: 2.5rem;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;

		h2 {
			line-height: 1.25;
		}

		h3 {
			line-height: 1.2;
		}
	}

	&.ads1 {
		height: 15.625rem;
	}

	&.ads2 {
		height: 15.625rem;

		@include media-breakpoint-up(lg) {
			height: 26.125rem;
		}
	}
}


/* ----------------------------------------------------------------
	Product Filters
-----------------------------------------------------------------*/

.product-filters {
	.filter-title {
		color: $headings-color;
		font-size: .875rem;
		font-family: $body-font;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 0.75rem;
	}

	ul li ul {
		padding-left: 2.25rem;
	}

	.product-filter-color {
		ul li {
			display: inline-block;
			margin-right: 5px;

			.filter-color {
				width: 1.875rem;
				height: 1.875rem;
				margin: 0;
				border: none;

				&:checked::after {
					top: 8px;
					left: 12px;
					width: 6px;
					height: 10px;
				}

				&#color_ffffff {
					border: 1px solid #dcdcdc;

					&:checked::after {
						border-color: #373737;
					}
				}
			}
		}
	}

	.product-filter-size {
		ul li {
			display: inline-block;
			position: relative;
			margin-right: 5px;

			.filter-size {
				width: 3.125rem;
				height: 2.5rem;
				margin: 0;
				border: none;

				& + label {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 1;

					@include translate3d(-50%, -50%, 0);
				}

				&:checked {
					background-color: $theme-color;
					color: $white;

					& + label {
						color: $white;
					}

					&::after {
						display: none;
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Shop Now Custom Link
-----------------------------------------------------------------*/

.shop-link {
	display: flex;
	align-items: center;
	font-family: $headings-font-family;
	font-size: 1.3125rem;
	line-height: 1.6875rem;
	text-decoration: none;
	position: relative;

	&::after {
		content: "";
		background-repeat: no-repeat;
		background-size: 100%;
		display: block;
		width: 1.6875rem;
		height: 1.6875rem;
		margin-left: 0.9375rem;

		@include transition(all 0.3s ease-in-out);
	}

	&:hover::after {
		@include translateX(5px);
	}

	&.text-white::after {
		background-image: url(../images/icons/circle_arrow_right_light.png);
	}

	&.text-secondary::after {
		background-image: url(../images/icons/circle_arrow_right_dark.png);
	}

	&.text-primary::after {
		background-image: url(../images/icons/circle_arrow_right_primary.png);
	}
}


/* ----------------------------------------------------------------
	Best Selling Products Slider
-----------------------------------------------------------------*/

#sliderBestSelling {
	overflow: hidden;

	.product-image {
		height: 22.5rem;
	}
}


/* ----------------------------------------------------------------
	Reviews
-----------------------------------------------------------------*/

#reviews {
	#comments {
		.reviews-title {
			font-size: 1.125rem;

			span {
				color: $body-color;
				font-family: $body-font;
				font-size: 0.875rem;
				font-weight: 400;
				margin-left: 0.625rem;
			}
		}

		ul.comment-list {
			.review {
				margin-bottom: 1.125rem;

				.comment-container {
					display: flex;

					.comment-text {
						margin-left: 1.125rem;
						padding-top: 0.3125rem;

						.meta {
							line-height: 1;
							margin-bottom: 0;

							.review-date {
								margin-left: 0.5rem;
							}
						}

						.description {
							p {
								margin-bottom: 0;
							}
						}
					}
				}

				.rating {
					.star-rating {
						i {
							color: $body-color;
							font-size: 0.625rem;
						}
					}

					.rating-text {
						color: $headings-color;
						font-size: 0.625rem;
					}
				}
			}
		}
	}

	#review_form {
		margin-top: 2.25rem;
		padding: 1.875rem 0;

		@include border-radius(0.5rem);

		.comment-respond {
			.comment-form {
				margin-bottom: 0;
			}
		}

		.stars {
			i {
				color: $body-color;
			}
		}

		textarea {
			background-color: $white;
		}
	}
}


/* ----------------------------------------------------------------
	Shop Table
-----------------------------------------------------------------*/

.shop-table {
	td, th {
		padding: 1rem;
	}

	thead {
		tr {
			th {
				border: none;
				font-weight: 600;
				font-size: 0.75rem;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom-width: 5px;
				border-color: transparent;
				vertical-align: middle;
			}
		}
	}

	& > :not(:last-child) > :last-child > * {
		border-bottom-color: transparent;
	}

	& > :not(caption) > * > * {
		border-bottom-width: 0;
	}
}