
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	p {
		font-family: 'Open Sans';
		font-weight: 400;
	}

	a {
		font-family: 'Open Sans';
		font-weight: 400;
	}

	.widget-title {
		font-family: 'Open Sans';
		color: #61605f;
		display: block;
		text-decoration: none;
		font-size: .875rem;
		font-weight: 500;
	}	

	// Widget - Social
	&.widget-social {
		.social-icons {			
			list-style: none;

			li {
				padding: 0 0.25rem;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
		
				a {
					background-color: #282828;
					color: #fff;
					display: inline-block;
					line-height: 1.8125rem;
					width: 2.8125rem;
					height: 2.8125rem;
					vertical-align: middle;
					padding: 0.5rem;
					text-align: center;
					border-radius: 50%;

					@include border-radius(50%);					
					@include transition(all 0.3s ease-in-out);					
		
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			list-style: none;

			li {
				a {
					color: $white;
					font-weight: 600;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.875rem;
					font-family: 'Segoe UI', sans-serif;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		p {
			color: #61605f;
			display: block;
			text-decoration: none;
			font-size: 0.675rem;
		}

		.payments {
			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.25rem;
				width: 3.5rem;
				height: 2rem;
				background-color: #d6d3cc;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;

				@include border-radius(0.25rem);

				&.visa {
					background-image: url(../images/payments/visa.svg);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.svg);
				}

				&.express {
					background-image: url(../images/payments/express.svg);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.svg);
				}
			}
		}
	}

	// Widget - custom html
	&.widget-custom-html {
		margin-right: 1rem;

		.widget-content {
			p, a {
				color: #61605f;
				display: block;
				text-decoration: none;
				font-size: 0.875rem;
				font-weight: 500;

				&.h4 {
					font-size: 1.875rem;
					line-height: 1.25;
				}

				&.heading-font {
					letter-spacing: 0.1rem
				}
			}
		}
	}

	// Widget - feedback
	&.widget-feedback {
		.widget-content {
			p {
				letter-spacing: 0.1rem
			}

			#widget-feedback-form {
				input {
					background-color: #f9f9f9;
					color:#d0d0d0;
				}
				
				.input-group-append {
					margin-left: -2.875rem;
				}
			}
		}
	}

	// Widget - Products
	&.widget-products {
		.widget-content {
			.product {
				display: flex;
				align-items: center;
				margin-bottom: 0.625rem;

				.product-image {
					flex: 1;
					height: 8.25rem;
					max-width: 9.75rem;
				}

				.product-details {
					flex: 1;
					padding: 0 1.25rem;					
				}

				.product-price {					
					margin-bottom: 0.625rem;
				}

				.product-title {
					a {
						color: $white;																		
					}					
				}
			}
		}
	}
}